/* container 1  */
.container1 {
    display: flex;
    position: relative;
    background-color: rgb(224, 242, 254);
    height: 450px;
    margin-bottom: 20vw;
}


@keyframes slide {
    0% {
        background-image: linear-gradient(to right, #0ea5e9, #f8f8fa00, #f8f8fa00, #f8f8fa00);
        color: white;
    }

    5% {
        color: white;
        background-image: linear-gradient(to right, #0ea5e9, #0ea5e9, #f8f8fa00, #f8f8fa00, #f8f8fa00, #f8f8fa00, #f8f8fa00);
    }

    15% {
        color: white;
        background-image: linear-gradient(to right, #0ea5e9, #0ea5e9, #f8f8fa00, #f8f8fa00, #f8f8fa00);
    }

    25% {
        color: white;
        background-image: linear-gradient(to right, #0ea5e9, #0ea5e9, #0ea5e9, #f8f8fa00, #f8f8fa00, #f8f8fa00, #f8f8fa00);
    }

    33% {
        color: white;
        background-image: linear-gradient(to right, #0ea5e9, #0ea5e9, #f8f8fa00, #f8f8fa00);
    }

    66% {
        color: white;
        background-image: linear-gradient(to right, #0ea5e9, #0ea5e9, #0ea5e9, #f8f8fa00);
    }

    85% {
        color: white;
        background-image: linear-gradient(to right, #0ea5e9, #0ea5e9, #0ea5e9, #0ea5e9, #f8f8fa00);
    }

    100% {
        color: white;
        background-image: linear-gradient(to right, #0ea5e9, #0ea5e9);
    }
}

.loaded {
    animation-name: slide;
    animation-duration: 0.4s;
    border-radius: 4px;
    animation-fill-mode: forwards;
    padding: 4px 5px;
    transition: 0.5s;
}



/* .loaded{
    color:aqua !important;
} */

.container1 .text {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 32px;
    margin-top: 25px;
    width: 100vw;
    line-height: 0px;
}

.container1 .text>p:nth-child(1) {
    font-size: 3em;
    color: #474f5b;
    font-weight: 400;
    margin-bottom: 38px;
}

.container1 .text>p:nth-child(2) {
    font-size: 2.5em;
    color: #474f5b;
    font-weight: 400;
}

.container1 .text>p:nth-child(2)>span {
    font-size: 1.2em;
    color: #474f5b;
    font-weight: 400;
}

.container1 .text>p:nth-child(3) {
    font-size: 1.8em;
    color: #474f5b;
    font-weight: 400;
}

.container1 .text>p:nth-child(4) {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(14, 165, 233);
    border: 1px solid rgb(14, 165, 233);
    padding: 20px 10px 20px 10px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    cursor: pointer;
}

.container1 .text>p:nth-child(4):hover span {
    transform: translateX(4px);
    transition: 0.3s;
    cursor: pointer;
}



.container1 .image-container {
    width: 60vw;
}

.container1 .image-container>img {
    width: 80vw;
    position: absolute;
    left: 20vw;
}